<ion-grid>
    <ion-list  style="width:100%;border-left: 1px solid #000000;
    border-right: 1px solid #000000;border-bottom: 1px solid #000000;">
      <ion-item>
        <h2> TREY SONGZ</h2>
        <p>NA NA NA</p>
      </ion-item>
      <ion-item>
          <h2> TREY SONGZ</h2>
          <p>NA NA NA</p>
        </ion-item>
        <ion-item>
            <h2> TREY SONGZ</h2>
            <p>SLOW MOTION</p>
          </ion-item>
          <ion-item>
              <h2> TORRY BRICKS</h2>
              <p>SFXFXFZF</p>
            </ion-item>
    </ion-list>
  </ion-grid>