header {
    .logo{
        position: absolute;
        left: 2em;
        top: 5px;
        display: inline-block;
    }
    .logo img{
        cursor: pointer; 
        top: 5px;
        left: 10px;
        position: relative
    }
    .searchbar-input {
        float: right;
        position: relative;
        top: 0px;
    }
    @media screen and (min-width: 768px) {
        .btnSearch {
            display: none
        }
        
        ion-searchbar {
            width: 40%;
            margin: 0 auto
        }
        .lista{
            //border-bottom: 1px solid #000000 !important;
            width: 40% !important;
            left: 31em;
        }
    }

    #resultado{
        background-color: #ffffff;
        border: 1px solid #000000;
        z-index: 10px;
    }
    .lista {
        z-index: 100;
        position: absolute;
        top: 55px;
        width: 100%;
        // border-left: 1px solid #000000;
        // border-right: 1px solid #000000;
        border-bottom: 1px solid #000000 !important;
    }

    .items:hover{
        background-color: #AB82FF;
    }
    h2{
        font-weight: bold !important;
        font-size: 15px !important;
    }
}
