<ion-navbar color="padrao">
    
    <div class="logo" *ngIf="mostarLogo">
        <img src="../../assets/imgs/logoPage.png" (click)="levaNaHome()" width="60" height="40">
    </div>  

    <ion-list *ngIf="showSearchbar">

      <ion-searchbar [(ngModel)]="searchTerm"
          placeholder="Procurar cantor ou titulo"
          (ionInput)="filterItems($event)">
      </ion-searchbar>

      

    </ion-list>
    
    <ion-buttons end>
        <button ion-button icon-only (click)="toggleSearchbar()" color="branco">
            <ion-icon ios="ios-search" md="md-search"> </ion-icon>
        </button>
    </ion-buttons>

</ion-navbar>

  