<ion-navbar color="padrao">
    
    <div class="logo" *ngIf="mostarLogo">
        <img src="../../assets/imgs/logoPage.png" (click)="levaNaHome()" width="60" height="40">
    </div>  

    <ion-searchbar *ngIf="showSearchbar" [(ngModel)]="searchTerm"
        placeholder="Procurar por titulo ou cantor"
        (ionInput)="filterItems($event)">
    </ion-searchbar>

    <ion-buttons class="btnSearch" end>
        <button ion-button icon-only (click)="toggleSearchbar()" color="branco">
            <ion-icon name="search"> </ion-icon>
        </button>
    </ion-buttons>

</ion-navbar>

<ion-list class="lista" >
  <ion-item class="items" no-lines *ngFor=" let item of itensFiltrados" color="WhiteGhost" (click)="verItem(item)">
    <h2>{{item.cantor}}</h2>
    <p>{{item.titulo}}</p>
  </ion-item>
</ion-list>  
  