<div class='rodape'>
  <span>Siga-nos</span>
  <div class="btn-wrapper">
    <button color="facebook" ion-button (click)="paginaFacebook()">
      <ion-icon name="logo-facebook"></ion-icon>
    </button>     
    <button color="twitter" ion-button (click)="paginaTwitter()">
      <ion-icon name="logo-twitter"></ion-icon>
    </button>
  </div>

  <p class="aviso">Todas as letras são propriedade dos seus autores. 
    As letras são fornecidas apenas para fins educacionais e uso pessoal.
  </p>
  <p class="assinatura">grandacassete.com &#169; 2017 - 2018</p>
</div>