page-letra {
    .wrapper{
        margin: 20px 20px 20px 20px;
        
        .titulo{
            font-weight: bold
        }
        .letra{
            margin-top: 20px;
        }
        
        .letra{
            //line-height: normal;
            line-height: 0.5;
        }
        .opcoesLetra p{
            padding: 5px 0;
            margin-right: 15px;
            font-size: 1.3em;
        }
    
        .OpAtual:active{
            font-weight: bold;
            border-bottom: 4px solid #A020F0;
        }
    }

    .wrapper .letra{
        margin-left: 15px; 
    }

    @media screen and (min-width: 768px) {
        .wrapper{
            position: relative;
            top: 2em;
            width: 50%;
            margin: 0 auto;
        }
        .titulo{
            font-size: 25px;
            color: map-get($colors, padrao )
        }
        .cantor{
            color: black;
            font-size: 16px;
        }
        .letra{
            text-align: center;
            line-height: 0.5 !important;
        }
        .wrapper .letra{
            margin-left: 15px; 
            margin-bottom: 5em;
        }
    }    
}
