<ion-header>
  <header> </header>
</ion-header>
  
<ion-content>
  <div class="wrapper selectable" *ngFor="let dado of dados">
    <ion-item >
      <h4 style="font-weight:bold">{{dado.titulo |capitalizeHtml}}</h4>
      <p>{{dado.cantor |capitalizeHtml}}</p>

      <!-- FUNCIONARA APENAS APARTIR DA VERSAO 61 DO CHROME 
        SUPORTE PRA OUTRAS PLATAFORMAS CHEGAAO EM BREVE -->
      <button *ngIf="btnPartilhar" item-end (click)="partilhar()"color="padrao" outline icon-left ion-button>
        <ion-icon name="share"></ion-icon>
        Partilhar
      </button>
      
      <div item-end class="btn-wrapper">

        <button *ngIf="btnWhatsapp" color="whatsapp" ion-button (click)="Partilharwhatsapp()">
          <ion-icon name="logo-whatsapp"></ion-icon>
        </button> 

        <button *ngIf="btnFacebook" color="facebook" ion-button>
          <ion-icon name="logo-facebook"></ion-icon>
        </button>    
    
        <button *ngIf="btnTwitter" color="twitter" ion-button>
          <ion-icon name="logo-twitter"></ion-icon>
        </button>

      </div>
      

    </ion-item>
  
  <!-- Opcao de traducao caso for necessario
    <ion-grid>
      <ion-row class="opcoesLetra">
        <p class="OpAtual">Letra</p>
        <p class="OpAtual">Tradução</p>
      </ion-row>
    </ion-grid>
  -->
    <div class="letra" [innerHTML]="dado.letra | keepHtml">
    
    </div>
  </div>

  <!-- <div class="btn-wrapper" style="text-align: center; margin-top: 20px">   
    <button color="padrao" outline icon-left ion-button>
      <ion-icon name="md-create"></ion-icon>
      Corrigir
    </button>
  </div> -->
  <footer> </footer>
</ion-content>