page-letra {
    .wrapper{
        margin: 20px 20px 20px 20px;

        .letra{
            margin-top: 20px;
        }
    
        .opcoesLetra p{
            padding: 5px 0;
            margin-right: 15px;
            font-size: 1.3em;
        }
    
        .OpAtual:active{
            font-weight: bold;
            border-bottom: 4px solid #A020F0;
        }
    }

    .wrapper .letra{
        margin-left: 15px; 
    }

    @media screen and (min-width: 768px) {
        .wrapper{
            position: relative;
            top: 2em;
            width: 60%;
            margin: 0 auto;
        }
        .wrapper .letra{
            margin-left: 15px; 
            margin-bottom: 5em;
        }
    }    
}
